@font-face { 
    font-family: 'Spectral';
    src: url("assets/fonts/Spectral-Regular")
}

@font-face { 
    font-family: 'Spectral';
    src: url("assets/fonts/Spectral-Italic")
}

@font-face { 
    font-family: 'Spectral';
    src: url("assets/fonts/Spectral-Bold")
}

